/* Modelando Formulario de cadastro */
div.formulario_descontos{
	font-family: Agency FB;
}
div.formulario_descontos h2{
	font-family: Agency FB;
	margin-left: 100px;
}
form.cadastro_descontos div{
	float:left;
}
form.cadastro_descontos{
	width: 500px;
	height: 100px;
	margin: 10px auto 0px auto;	
}
form.cadastro_descontos div div{
	width: 150px;
	float: left;
	margin-right: 15px;
	padding-bottom: 10px;
}
input.descontos_padrao{
	width: 150px;
	border-radius: 2px;
	border: 1px groove rgba(0,0,0,0.6);
}
select.descontos_padrao{
	width: 150px;
	border-radius: 2px;
	border: 1px groove rgba(0,0,0,0.6);
}
div.descontos_botao{
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: Agency FB;
	font-size: 17px;
	float: left;
}
/* Modelando Exibição de itens cadastrados */
/*Fundo da exibição */
div.fundo_descontos{
	margin: -50px auto 0 auto;
	width: 90%;
	height: 350px;
	background: rgb(215,215,215);
	overflow: scroll;
}
/* LISTA CADASTRADA */
div.cabecalho_exibir{
	width: 800px;
	float: left;
	
}
div.cabecalho_exibir ul{
	list-style-type: none;
	margin: 5px 0px 0px 5px;
	padding: 0px;
}
div.cabecalho_exibir li{
	width: 140px;
	float: left;
	padding-right: 15px;
	border-right: 1px dotted black;
	border-bottom: 1px dotted black;
	
}
/* INPUT's DE Exibição */
div.exibir_descontos{
	width: 800px;
	float: left;
	margin: 1px 0px 0px 5px;
}
div.exibir_descontos input.Idescontos{
	width: 150px;
	margin-right: 2px;
}

