div.formulario_caixa_entrada{
	font-family: Agency FB;
}
div.formulario_caixa_entrada h2{
	margin-left: 100px;
	font-family: Agency FB;
}
form.cadastro_caixa_entrada div{
	float:left;
}
form.cadastro_caixa_entrada{
	width: 500px;
	height: 200px;
	margin: 10px auto 10px auto;
}

form.cadastro_caixa_entrada div div{
	width: 150px;
	float: left;
	margin-right: 15px;
	padding-bottom: 10px;
}
input.caixa_entrada_padrao{
	width: 150px;
	border-radius: 2px;
	border: 1px groove rgba(0,0,0,0.6);
}
select.caixa_entrada_padrao{
	width: 150px;
	border-radius: 2px;
	border: 1px groove rgba(0,0,0,0.6);
}
div.caixa_entrada_botao{
	margin-top: 10px;
	font-family: Agency FB;
	font-size: 17px;
	float: left;
}